<div class="image play" style="background-image: url('{{coverart}}')">
  <span class="indicator"></span>
</div>
<div class="info">
  <h1>{{title}}</h1>
  <h2>{{artist}}{{#if album}} - {{album}}{{/if}}</h2>
  <h2 class="duration">{{time time}}</h2>
</div>