<div class="">
  <div class="content">
    <p>Current Master</p>
    <img src="{{thumbnailUrl}}?s=48" alt="{{displayName}}" />
    <h2>
      {{#if name}}{{name.givenName}} {{name.familyName}}{{else}}{{displayName}}{{/if}}
    </h2>
  </div>
</div>